<div class="span3">
  <ul>
    {{#each guide in controller}}
    <li>{{#linkTo "guide" guide}}{{ guide.title }}{{/linkTo}}</li>
    {{/each}}
  </ul>
</div>


<div class="span6">
  {{ outlet }}
</div>




